//  背景颜色
$bg-theme: #517eff;
$bg-default: #f2f2f2;
$bg-stress: #ff6066;
$bg-secondary: #fafafa;

$color-theme: #517eff;
$color-primary: #517eff;
$color-success: #54b624;
$color-warning: #f2950c;
$color-danger: #f56c6c;
$color-info: #666666;

//  字体颜色
$text-color-theme: #333333;
$text-color-regular: #666666;
$text-color-secondary: #666666;
$text-color-tip: #999999;
$text-color-placeholder: #bfbfbf;
$text-color-stress: #ff6066;

// 边框
$border-color-base: #d9d9d9;
$border-color-lighter: #e9e9e9;
